/* FeedbackForm.module.css */
.container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: auto;
   
    
}

.submitButton {
    background-color: #d000ff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #0056b3;
}
